
h2, p {
    text-align: center;
}
h1 {
    font-weight: bold; 
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 75%; 
}
#image {
    height: 200px; 
    width: 200px;
    border-radius: 200px;
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline-block;
    list-style: none;
}

.icon {
    height: 10%; 
    width: 10%;
    inline-size: 10%;
    display: flex;
}